.parent{
    background-color: burlywood;
    width:550px;
    height: 310px;
    display: flex;
    /*justify-content:space-between ;*/
    /*justify-content: flex-end;*/
    /*align-items: center;*/ /*when used along with the one below gets the items to the center*/
    /*justify-content: space-around;*/
}

.col{
    width: 50px;
    height: 200px;
}
.col1{
    background-color: rgb(184, 39, 107);
}

.col2{
    background-color: rgb(139, 149, 182);
}

.col3{
    background-color: rgb(211, 103, 40);
}

.col4{
    background-color: rgb(125, 172, 40);
}

.col5{
    background-color: rgb(30, 53, 129);
}